<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="URLATE" />
    <meta property="og:site_name" content="URLATE" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="description" content="Avoid & Get on the tempo, URLATE" />
    <meta property="og:description" content="Avoid & Get on the tempo, URLATE" />
    <meta property="og:image" content="/images/mainImage.png" />
    <meta name="naver-site-verification" content="7ae378668c928c7b17400b60b364b844a751c1f1" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>URLATE</title>
  </head>
  <body oncontextmenu="return false">
    <div
      id="g_id_onload"
      data-client_id="53395624264-3ttom4uvk53b1b2ujq7c3h3bu13uj1b6.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    ></div>
    <div id="safariBlocker" class="hide"><%= __('safari_alert') %></div>
    <div id="animContainer" class="widthAnim"></div>
    <div id="logoContainer">
      <img src="/images/logos/URLATE_LITE_BIG.png" id="logo" alt="<%= __('index_logoAlt') %>" />
      <br />
      <% if(__('lang') == 'en') { %>
      <a href="/ko" class="bottomLang">English(영어)</a>
      <% } else { %>
      <a href="/en" class="bottomLang">한국어(Korean)</a>
      <% } %>
    </div>
    <div id="buttonContainer">
      <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
      <div id="policies">
        <% if(__('lang') == 'en') { %>
        <a href="/privacy" class="bottomPolicy">Privacy Policy</a>
        <% } else { %>
        <a href="/privacy" class="bottomPolicy">개인정보처리방침</a>
        <% } %>
      </div>
    </div>
    <span id="footerLeft">
      <b>E-mail</b>: urlate@coupy.dev | <b>담당자</b>: 강혁진<br />
      본 게임은 2022년 출시되었던 게임 URLATE의 개량 버전입니다.<br />
      '팀 크루아상'은 현재 폐업 상태이며, 본 프로젝트의 관리 및 책임은 강혁진이 담당하고있습니다.
    </span>
    <div id="footerRight">
      <div id="allContainer">
        <span><b>등급분류 일자</b>: 2021. 08. 06<br /></span>
        <span><b>제명</b>: URLATE (얼레이트) | <b>상호</b>: 팀 크루아상<br /></span>
        <span
          ><b>이용등급</b>: 전체이용가 | <b>등급분류번호</b>:
          <a
            href="https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?bfe594b3906a6fc21ebfb5982f7132cda6c813a6a053e8e5ec12581d53453bb0"
            class="link"
            onclick="window.open(this.href,'저작권 정보','width=800, height=800'); return false;"
            >제 GC-CC-NP-210806-002 호</a
          ><br
        /></span>
      </div>
      <img src="/images/logos/all.png" id="allImage" />
    </div>
    <script>
      const projectUrl = "<%= url %>";
      const api = "<%= api %>";
      const loginFailed = "<%= __('login_failed') %>";
      const loginError = "<%= __('login_error') %>";
      const shutdownAlert = "<%= __('shutdowned_alert') %>";
      const lang = "<%= __('lang') %>";
      if (lang == "en") document.body.style.letterSpacing = "-0.3px";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/js/index.js"></script>
  </body>
</html>
