<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="URLATE" />
    <meta property="og:site_name" content="URLATE" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="description" content="Avoid & Get on the tempo, URLATE" />
    <meta property="og:description" content="Avoid & Get on the tempo, URLATE" />
    <meta property="og:image" content="/images/mainImage.png" />
    <meta name="naver-site-verification" content="7ae378668c928c7b17400b60b364b844a751c1f1" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>URLATE</title>
  </head>
  <body oncontextmenu="return false">
    <div
      id="g_id_onload"
      data-client_id="53395624264-3ttom4uvk53b1b2ujq7c3h3bu13uj1b6.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleCredentialResponse"
      data-auto_prompt="false"
    ></div>
    <div id="safariBlocker" class="hide"><%= __('safari_alert') %></div>
    <div id="animContainer" class="widthAnim"></div>
    <div id="logoContainer">
      <img src="/images/logos/URLATE_LITE_BIG.png" id="logo" alt="<%= __('index_logoAlt') %>" />
      <br />
      <% if(__('lang') == 'en') { %>
      <a href="/ko" class="bottomLang">English(영어)</a>
      <% } else { %>
      <a href="/en" class="bottomLang">한국어(Korean)</a>
      <% } %>
    </div>
    <div id="buttonContainer">
      <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
      <div id="policies">
        <% if(__('lang') == 'en') { %>
        <a href="/privacy" class="bottomPolicy">Privacy Policy</a>
        <% } else { %>
        <a href="/privacy" class="bottomPolicy">개인정보처리방침</a>
        <% } %>
      </div>
    </div>
    <span id="footerRight">
      <b>안내 사항</b>: 본 게임은 아직 개발 중이며, 누구나 접속이 가능하지만 <b>모든 기록은 초기화될 수 있습니다.</b><br />
      <b>Notice</b>: This game is still in development, so anyone can access it, but <b>all records can be reset.</b>
    </span>
    <script>
      const projectUrl = "<%= url %>";
      const api = "<%= api %>";
      const loginFailed = "<%= __('login_failed') %>";
      const loginError = "<%= __('login_error') %>";
      const shutdownAlert = "<%= __('shutdowned_alert') %>";
      const lang = "<%= __('lang') %>";
      if (lang == "en") document.body.style.letterSpacing = "-0.3px";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/js/index.js"></script>
  </body>
</html>
