<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URLATE ADVANCED</title>
  <link rel="stylesheet" href="/css/storeResult.css">
</head>
<body oncontextmenu='return false'>
  <div id="titleContainer">
    <span id="title">ADVANCED</span>
  </div>
  <div id="contentsContainer">
    <div id="animContainer"></div>
    <span id="infoText"><%= __('cancel_success') %><br><%= __('move_to_game_after_1') %><span id="infoSecondText">3</span><%= __('move_to_game_after_2') %></span>
  </div>
  <script>
    const url = "<%= url %>";
    const lang = "<%= __('lang') %>";
    if(lang == "en") document.body.style.letterSpacing = "-0.3px";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.5/lottie.js"></script>
  <script src="/js/storePurchased.js"></script>
</body>
</html>