<!DOCTYPE html>
<html lang="<%= __('lang') %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link rel="stylesheet" href="/css/globalSocket.css?v=<%= ver %>" />
    <link rel="stylesheet" href="/css/play.css?v=<%= ver %>" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script data-pace-options='{ "eventLag": false }' src="/js/pace.js"></script>
  </head>
  <body oncontextmenu="return false" ondragstart="return false" onselect="return false">
    <div id="colorOverlayContainer"></div>
    <div id="blackOverlayContainer"></div>
    <div id="scoreContainer">
      <div id="scoreBackground"></div>
      <div id="scoreDecorations"></div>
      <div id="scoreAlbumInformations">
        <div id="scoreAlbum"></div>
        <div id="scoreAlbumInfo">
          <span id="scoreTitle">Title</span>
          <br />
          <span id="scoreArtist">Artist</span>
          <br />
          <span id="scoreDifficulty"><span id="scoreDifficultyNum">?</span> Testing Mode</span>
          <br /><br />
          <canvas id="missPointCanvas"></canvas>
          <br />
          <span id="missPoint">Miss Point</span>
        </div>
      </div>
      <div id="resultContainer">
        <span id="result">RESULT</span>
        <img src="https://img.icons8.com/metro/100/F3F3F3/expand-arrow.png" id="arrow" />
      </div>
      <div id="scoreInfoContainer">
        <div id="scoreInfoScore">
          <span class="scoreSemiTitle">Total Score</span>
          <span class="scoreValue" id="scoreText">000,000,000</span>
          <br />
          <span class="scoreSemiTitle">Max Combo</span>
          <span class="scoreValue" id="comboText">0x</span>
          <br />
          <span class="scoreSemiTitle">Accuracy</span>
          <span class="scoreValue" id="accuracyText">0.0%</span>
        </div>
        <div id="scoreInfoRank">
          <img id="rankImg" src="" />
        </div>
        <div id="scoreInfoJudge">
          <div id="scoreJudgeLeft">
            <span class="judge" id="perfect">Perfect</span>
            <span class="judge" id="great">Great</span>
            <span class="judge" id="good">Good</span>
            <span class="judge" id="bad">Bad</span>
            <span class="judge" id="miss">Miss</span>
            <span class="judge" id="bullet">Bullet</span>
          </div>
          <div id="scoreJudgeRight">
            <span class="judgeResult" id="perfectResult">0</span>
            <span class="judgeResult" id="greatResult">0</span>
            <span class="judgeResult" id="goodResult">0</span>
            <span class="judgeResult" id="badResult">0</span>
            <span class="judgeResult" id="missResult">0</span>
            <span class="judgeResult" id="bulletResult">0</span>
          </div>
        </div>
      </div>
      <span id="urlate"><strong>URLATE</strong> LITE</span>
      <div id="skip">
        <div id="retryButton" onclick="retry()">
          <img src="/images/parts/icons/retry.svg" id="retryIcon" />
        </div>
        <div id="nextButton" onclick="editor()">
          <span>Next</span>
          <img src="/images/parts/icons/next.svg" id="nextIcon" />
        </div>
      </div>
    </div>
    <div id="menuContainer">
      <span id="menuTitle">Paused</span>
      <div id="menuBox">
        <div id="resume" class="menuBtn" onclick="resume()"><span>Resume</span></div>
        <div id="retry" class="menuBtn" onclick="retry()"><span>Retry</span></div>
        <div id="backToEditor" class="menuBtn" onclick="editor()"><span>Back to editor</span></div>
        <div id="backToHome" class="menuBtn" onclick="home()"><span>Back to home</span></div>
      </div>
      <span id="menuVolume"><%= __('menu_volume') %></span>
    </div>
    <div id="loadingContainer">
      <div id="albumContainer">
        <div id="albumInfo">
          <span id="author">Pattern by - <span id="authorNamespace"></span></span>
          <span><span id="albumDifficulty">TEST</span>&nbsp;<span id="albumDifficultyNum">MODE</span></span>
        </div>
      </div>
      <span id="title"></span>
      <span id="artist"></span>
      <span id="loadingUrlate">URLATE <span id="loadingLite">LITE</span></span>
      <div id="authorContainer">
        <img src="" id="authorIcon" />
        <span id="authorComment"></span>
      </div>
    </div>
    <div id="floatingResultContainer">
      <span id="floatingResult">RESULT</span>
    </div>
    <div id="floatingArrowContainer">
      <img src="https://img.icons8.com/metro/40/ffffff/expand-arrow.png" />
    </div>
    <div id="floatingResumeContainer">
      <span id="floatingResume">Click anywhere to resume the game</span>
    </div>
    <div id="canvasBackground"></div>
    <div id="canvasContainer">
      <canvas id="componentCanvas" width="100%" height="100%"> </canvas>
      <img src="/images/parts/icons/FC.svg" class="medal" />
      <img src="/images/parts/icons/AP.svg" class="medal" />
    </div>
    <div class="overlay" id="volumeOverlay">
      <p class="optionSemiTitle"><%= __('volume') %></p>
      <input type="range" min="0" max="100" value="50" class="optionSlider volumeMaster" oninput="settingChanged(this, 'volumeMaster')" />
      <p class="optionValue" id="volumeMasterValue">50%</p>
    </div>
    <script>
      const cdn = "<%= cdn %>";
      const url = "<%= url %>";
      const api = "<%= api %>";
      const game = "<%= game %>";
      const alias = "<%= __('alias') %>".split(",");
      const returnToEditor = "<%= __('return_to_editor') %>";
      const patternError = "<%= __('pattern_error') %>";
      const lang = "<%= __('lang') %>";
      const socketi18n = {
        connected: "<%= __('socket_status_connected') %>",
        reconnecting: "<%= __('socket_status_reconnecting') %>",
        conflict: "<%= __('socket_connection_conflict') %>",
        error: "<%= __('socket_connection_error') %>",
        unauthorized: "<%= __('socket_connection_unauthorized') %>",
        reward: "<%= __('socket_achievement_reward') %>",
        alias: "<%= __('socket_achievement_alias') %>",
      };
    </script>
    <script src="/js/howler.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/js/playerModules.js?v=<%= ver %>"></script>
    <script src="/js/test.js?v=<%= ver %>"></script>
    <script src="/js/globalSocket.js?v=<%= ver %>"></script>
  </body>
</html>
